extends layout

block content

  div#nav.background_red
    h1
      a.logo(href="#about")
    nav#main-nav.navbar
      ol.nav
        //li.none
        //  a.nav-item(href="#about") about
        li.left
          a.nav-item(href="#projects") projects
        li.right
          a.nav-item(href="#contact") contact
        li.left
          a.nav-item(href="http://blog.easi6.com") blog
        li.right
          a.nav-item(href="#members") team

  div#main-container
    section#about
      div#about_header_carousel.carousel.slide
        div.carousel-inner
          div.item.active
            img(src="/images/slide1.png", style="")
          div.item
            img(src="/images/dnd_carousel.jpg", style="")
        ol.carousel-indicators
          li(data-target="#about_header_carousel", data-slide-to="0", class="active")
          li(data-target="#about_header_carousel", data-slide-to="1")
        a.left.carousel-control(href="#about_header_carousel", data-slide="prev")
          ‹
        a.right.carousel-control(href="#about_header_carousel", data-slide="next")
          ›
      div#intro
        p.about_desc_left <span class="text-600">easi6, Inc.,</span> is a Korean-American tech startup headquartered in Jersey City, NJ, with a satellite office in Seoul, South Korea. 
        p.about_desc_right Our team specializes in <span class="text-400-italic">social-networking, location-based, and social-media mobile services,</span> with a unique focus on pattern recognition and user modeling software. 

    section#projects.clearfix
      div#project_tomoni.project
        div.project_img
            img(src="/images/product_1.png")
        div.project_desc
          img(src="/images/product_1_mouseover.png")
          p.title.text-600 Tomoni means together <br />- at the same time.
          p.desc We're building a network around activities, not social media profiles. Go together. Go with Tomoni.
          a(href="http://tomoniapp.com",target="_blank") go to page
      div#seperate_line
      div#project_dnd.project
        div.project_img
            img(src="/images/product_2.png")
        div.project_desc
          img(src="/images/product_2_mouseover.png")
          p.title.text-600 Create, share, and discover near-term meetings.
          p.desc Chat, share photos, and let friends know you're on the way with the real-time travel map.
          a(href="http://doorsndots.com",target="_blank") go to page

    section#members.clearfix
      div.members.hidden-mobile
        div.member
          img.member-photo(src="/images/members/kay_1.jpg")
          img.member-photo-hover(src="/images/members/kay_2.jpg")
          p.member-name Kay Woo
          p.member-title Founder & Executive
          a.email(href="mailto:kay.woo@easi6.com") kay.woo@easi6.com

        div.member
          img.member-photo(src="/images/members/jaehwa_1.jpg")
          img.member-photo-hover(src="/images/members/jaehwa_2.jpg")
          p.member-name Jaehwa Han
          p.member-title Lead Engineer
          a.email(href="mailto:drh@easi6.com") drh@easi6.com

        div.member
          img.member-photo(src="/images/members/jordan_1.jpg")
          img.member-photo-hover(src="/images/members/jordan_2.jpg")
          p.member-name Jordan J. Jarecki
          p.member-title Growth Operations
          a.email(href="mailto:jordan.j@easi6.com") jordan.j@easi6.com

        div.member.no-margin-right
          img.member-photo(src="/images/members/daewon_1.jpg")
          img.member-photo-hover(src="/images/members/daewon_2.jpg")
          p.member-name Daewon Kim
          p.member-title Android Developer
          a.email(href="mailto:d429@easi6.com") d429@easi6.com

        div.member
          img.member-photo(src="/images/members/derek_1.jpg")
          img.member-photo-hover(src="/images/members/derek_2.jpg")
          p.member-name Derek Nguyen
          p.member-title UI Designer
          a.email(href="mailto:derek@doorsndots.com") derek@doorsndots.com

        div.member
          img.member-photo(src="/images/members/myunkyu.png")
          img.member-photo-hover(src="/images/members/myunkyu_2.png")
          p.member-name Myunkyu Park
          p.member-title Developer
          a.email(href="mailto:spica@easi6.com") spica@easi6.com

        div.member
          img.member-photo(src="/images/members/jungmo1.jpg")
          img.member-photo-hover(src="/images/members/jungmo2.jpg")
          p.member-name Jungmo Kang
          p.member-title Developer
          a.email(href="mailto:jungmo.kang@easi6.com") jungmo.kang@easi6.com

      div.members.visible-mobile
        div#members_carousel.carousel.slide
          div.carousel-inner
            div.active.item
              img.member-photo(src="/images/members/kay_1.jpg")
              p.member-name Kay Woo
              p.member-title Founder & Executive
              a.email(href="mailto:kay.woo@easi6.com") kay.woo@easi6.com
            div.item
              img.member-photo(src="/images/members/jaehwa_1.jpg")
              p.member-name Jaehwa Han
              p.member-title Lead Engineer
              a.email(href="mailto:drh@easi6.com") drh@easi6.com
            div.item
              img.member-photo(src="/images/members/jordan_1.jpg")
              p.member-name Jordan J. Jarecki
              p.member-title Growth Operations
              a.email(href="mailto:jordan.j@easi6.com") jordan.j@easi6.com
            div.item
              img.member-photo(src="/images/members/daewon_1.jpg")
              p.member-name Daewon Kim
              p.member-title Android Developer
              a.email(href="mailto:d429@easi6.com") d429@easi6.com
            div.item
              img.member-photo(src="/images/members/derek_1.jpg")
              p.member-name Derek Nguyen
              p.member-title UI Desinger
              a.email(href="mailto:derek@doorsndots.com") derek@doorsndots.com
            div.item
              img.member-photo(src="/images/members/myunkyu.png")
              p.member-name Myunkyu Park
              p.member-title Developer
              a.email(href="mailto:spica@doorsndots.com") spica@doorsndots.com
            div.item
              img.member-photo(src="/images/members/jungmo1.png")
              p.member-name Jungmo kang
              p.member-title Developer
              a.email(href="mailto:jungmo.kang@easi6.com") jungmo.kang@easi6.com
          a.left.carousel-control(href="#members_carousel", data-slide="prev")
            ‹
          a.right.carousel-control(href="#members_carousel", data-slide="next")
            ›
        

    section#contact.clearfix
      div#map_canvas maps here
      p.contact <a class="email" href="mailto:info@easi6.com">info@easi6.com</a> <br /><a href="https://maps.google.com/?q=364+Marin+Boulevard,+Jersey+City,+NJ,+United+States" class="address">364 Marin Blvd 2<sup>fl</sup><br />Jersey City, NJ 07302</a>
