body {
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  color: rgba(51,51,51,0.2) 3;
  padding: 0;
  margin: 0;
}
::selection {
  background: #ffbe71;
/* Safari */
}
::-moz-selection {
  background: #ffbe71;
/* Firefox */
}
#nav.background_green {
  background-color: #80af82;
}
#nav.background_red {
  background-color: #e44324;
}
#nav.background_orange {
  background-color: #ff9700;
}
#nav.background_gray {
  background-color: #6e6e6e;
}
#nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
}
#nav h1 {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  padding-bottom: 5px;
}
#nav h1 a.logo {
  display: block;
  background: url("/images/logo_icon.png") no-repeat;
  height: 53px;
  width: 85px;
  text-indent: -99999px;
  margin: auto;
}
#nav nav {
  margin-top: 15px;
  margin-left: 2px;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0px;
}
#nav nav ol {
  width: 100%;
  font-size: 1.2em;
}
#nav nav ol li.none {
  display: none;
}
#nav nav ol li {
  margin-bottom: 20px;
  width: 25%;
  float: left;
  display: block;
}
#nav nav ol li a {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}
#nav nav ol li a.nav-item {
  float: left;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  margin: auto;
}
#nav nav ol li a.nav-item:visited {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}
#nav nav ol li a.nav-item:hover {
  color: rgba(255,255,255,0.4);
  text-decoration: none;
}
#nav nav ol li.active a.nav-item {
  color: #fff;
}
#main-container {
  padding: 0;
  margin-top: 120px;
  background: #fff;
  margin-bottom: 0px;
  width: 100%;
  margin: auto;
}
.text-600 {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
}
.text-400-italic {
  font-style: italic;
  font-weight: 400;
}
.header_title {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 117%;
}
section {
  padding-top: 120px;
  margin-top: 50px;
  heigth: 100%;
  display: block;
  clear: both;
  padding-bottom: 20%;
}
#about_header_carousel {
  width: 90%;
  display: block;
  margin: auto;
}
#about_header_carousel div.carousel-inner {
  min-height: 310px;
}
#about_header_carousel div.carousel-inner p.header_title {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 90px;
}
#about_header_carousel div.carousel-inner img {
  max-height: 310px;
}
#about_header_carousel ol {
  clear: right;
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
  height: 40px;
}
#about_header_carousel ol li.active {
  background-color: #f00;
}
#about_header_carousel ol li {
  background-color: #eee;
}
#about_header_carousel a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}
#intro {
  clear: both;
  height: 100%;
}
#intro p {
  min-height: 90px;
  height: 20%;
  padding-bottom: 30px;
  line-height: 171%;
  font-size: 1em;
}
#intro .about_desc_left {
  float: none;
  width: 85%;
  margin: auto;
}
#intro .about_desc_right {
  width: 85%;
  margin: auto;
}
#projects {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#projects .project_img {
  max-width: 470px;
  width: 90%;
  margin-bottom: 15px;
  background-color: #eee;
  margin: auto;
}
#projects #project_dnd {
  float: left;
  width: 90%;
  margin: auto;
}
#projects #project_lb {
  width: 90%;
  margin-left: 100%;
  padding-right: 5%;
}
#projects p {
  line-height: 171%;
  max-width: 470px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
#members .members.hidden-mobile {
  display: none;
}
#members #members_carousel {
  width: 90%;
  display: block;
  margin: auto;
}
#members #members_carousel div.carousel-inner {
  min-height: 230px;
  height: 90%;
}
#members #members_carousel div.carousel-inner div.item {
  width: 100%;
}
#members #members_carousel div.carousel-inner div.item .member-photo {
  display: block;
}
#members #members_carousel div.carousel-inner div.item .member-photo-hover {
  display: none;
}
#members #members_carousel div.carousel-inner div.item img {
  min-width: 230px;
  width: 100%;
  margin-bottom: 10px;
}
#members #members_carousel div.carousel-inner div.item p {
  margin-bottom: 10px;
}
#members #members_carousel div.carousel-inner div.item .member-name {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 140%;
}
#members #members_carousel div.carousel-inner div.item .member-title .email {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 158%;
}
#members #members_carousel div.carousel-inner div.item:hover .member-photo {
  display: none;
}
#members #members_carousel div.carousel-inner div.item:hover .member-photo-hover {
  display: block;
}
#members #members_carousel a.carousel-control {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  line-height: 80px;
  font-size: 120px;
}
#contact {
  height: 100%;
  margin-top: 10px;
}
#contact #map_canvas {
  width: 90%;
  min-height: 550px;
  height: 90%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
#contact .contact {
  width: 90%;
  margin: auto;
  margin-bottom: 250px;
}
#contact .contact a {
  color: #333;
  font-size: 14px;
  line-height: 171%;
}
a.email {
  text-decoration: none;
  font-style: normal;
  color: #59f;
}
.address {
  font-size: 0.9em;
  color: #333;
  text-decoration: none;
}
.address:hover {
  text-decoration: underline;
}
.address sup {
  vertical-align: super;
  font-size: small;
}
