body
  font-family: 'Open sans', sans-serif
  font-size: 14px
  //background:url(/images/extra_clean_paper_@2X.png)
  color : #33333
  padding:0
  margin:0

::selection
  background: #ffbe71; /* Safari */

::-moz-selection
  background: #ffbe71; /* Firefox */

#nav.background_green
  background: url(/images/green_circle_regular_130x130.png) no-repeat
  background-color: #80AF82

#nav.background_green:hover
  background: url(/images/green_circle_navigation_200x200.png) no-repeat

#nav.background_red
  background: url(/images/red_circle_regular_130x130.png) no-repeat
  background-color: #E44324

#nav.background_red:hover
  background: url(/images/red_circle_navigation_200x200.png) no-repeat

#nav.background_orange
  background: url(/images/yellow_circle_regular_130x130.png) no-repeat
  background-color: #FF9700

#nav.background_orange:hover
  background: url(/images/yellow_circle_navigation_200x200.png) no-repeat

#nav.background_gray
  background: url(/images/gray_circle_regular_130x130.png) no-repeat
  background-color: #6E6E6E

#nav.background_gray:hover
  background: url(/images/gray_circle_navigation_200x200.png) no-repeat

#nav
  z-index: 999
  position:fixed
  border-radius: 65px
  width:130px
  height:130px
  top:50%
  left: 70%
  h1
    margin-top:30px
    a.logo
      display:block
      background: url(/images/logo_icon.png) no-repeat
      height: 53px
      width: 85px
      text-indent:-99999px
      margin:auto
  nav
    display:none

#nav:hover
  z-index: 999
  position:fixed
  border-radius: 100px
  width:200px
  height:200px
  a.logo
    display:block
    background: url(/images/logo_icon.png) no-repeat
    height: 53px
    width: 85px 
    text-indent:-99999px
    margin-top: 10px
    margin:auto
  nav
    margin-top:40px
    margin-left:2px
    display:block
    ol
      width: 200px
      li.none
        display: none
      li.left
        margin-right:15px
        a
          text-align: right
      li.right
        a
          text-align:left
      li
        margin-bottom: 20px
        width: 90px
        float:left
        a
          width: 90px
        a.nav-item
          float:left
          font-size: 15px
          color: rgba(0,0,0, 0.4)
          text-decoration: none
        a.nav-item:visited
          font-size: 15px
          color: rgba(0,0,0, 0.4)
          text-decoration: none
        a.nav-item:hover
          font-size: 15px
          color: rgba(255,255,255, 0.4)
          text-decoration: none
      li.active
        a.nav-item
          color: rgba(255,255,255, 1.0)

#main-container
  padding: 0
  margin-top:0
  background:white
  //box-shadow: 0 0 10px #888
  margin-bottom:30px
  //border-radius:10px
  width:950px
  margin:auto

#about_header_carousel
  display: block
  div.carousel-inner
    height: 410px
    width:950px
    p.header_title
      padding-top: 110px
  ol
    right: 0
    position: relative
    margin: 0
    padding: 0
    height: 60px
    li.active
      background-color: #ff0000
    li
      background-color: #eee
  a.carousel-control
    width: 100px
    height: 100px
    text-decoration: none
    font-family: Helvetica, Arial,sans-serif;
    border-radius: 50px
    border: 0px
    line-height: 80px
    font-size: 120px
    background-color: rgba(1, 1, 1, 0)
    color: #333333

.text-600
  font-family: 'Open sans', sans-serif
  font-weight: 600

.text-400-italic
  font-style: italic
  font-weight: 400

.header_title
  font-family: 'Open sans', sans-serif
  font-weight: 600
  font-size: 65px
  line-height: 117%

section
  padding-top:100px

#intro
  p
    height:90px
    margin-bottom:10px
    line-height: 171%
  .about_desc_left
    float:left
    width:370px
  .about_desc_right
    width: 470px
    margin-left: 490px

#projects
  .project_img
    width: 470px
    height: 470px
    margin-bottom: 15px
    background-color: #eee
  #project_dnd
    float:left
    width: 470px;
  #project_lb
    width:470px
    margin-left: 480px
  p
    line-height: 171%

#members
  .members.visible-mobile
    display:none
  .members
    width:950px
    div.member
      .member-photo
        display:block
      .member-photo-hover
        display:none
    div.member:hover
      .member-photo
        display:none
      .member-photo-hover
        display:block
    .member
      float:left
      display:block
      width:230px
      margin-right: 10px
      margin-bottom: 40px
      img
        width:230px
        height:230px
        margin-bottom: 10px
      p
        margin-bottom: 10px
      .member-name
        font-size: 16px
        font-weight: 700
        line-height: 140%
      .member-title .email
        font-size: 12px
        font-weight: 600
        line-height: 158%
    .no-margin-right
      margin-right: 0px

#contact
  margin-bottom: 500px
  #map_canvas
    width:950px
    height:410px
    display:block
    margin-bottom:30px
  .contact
    a
      color: #333333
      font-size: 14px
      line-height: 171%


a.email 
  text-decoration:none
  font-style:normal
  color:#59F
.address
  font-size:15pt
  color:#333
  text-decoration:none
  &:hover
    text-decoration:underline
  sup
    vertical-align:super
    font-size:small
