body {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  color: rgba(51,51,51,0.2) 3;
  padding: 0;
  margin: 0;
}
::selection {
  background: #ffbe71;
/* Safari */
}
::-moz-selection {
  background: #ffbe71;
/* Firefox */
}
#nav.background_green {
  background: url("/images/green_circle_regular_130x130.png") no-repeat;
  background-color: #80af82;
}
#nav.background_green:hover {
  background: url("/images/green_circle_navigation_200x200.png") no-repeat;
}
#nav.background_red {
  background: url("/images/red_circle_regular_130x130.png") no-repeat;
  background-color: #e44324;
}
#nav.background_red:hover {
  background: url("/images/red_circle_navigation_200x200.png") no-repeat;
}
#nav.background_orange {
  background: url("/images/yellow_circle_regular_130x130.png") no-repeat;
  background-color: #ff9700;
}
#nav.background_orange:hover {
  background: url("/images/yellow_circle_navigation_200x200.png") no-repeat;
}
#nav.background_gray {
  background: url("/images/gray_circle_regular_130x130.png") no-repeat;
  background-color: #6e6e6e;
}
#nav.background_gray:hover {
  background: url("/images/gray_circle_navigation_200x200.png") no-repeat;
}
#nav {
  z-index: 999;
  position: fixed;
  border-radius: 65px;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 70%;
}
#nav h1 {
  margin-top: 30px;
}
#nav h1 a.logo {
  display: block;
  background: url("/images/logo_web85x53.png") no-repeat;
  height: 53px;
  width: 85px;
  text-indent: -99999px;
  margin: auto;
}
#nav nav {
  display: none;
}
#nav:hover {
  z-index: 999;
  position: fixed;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
#nav:hover a.logo {
  display: block;
  background: url("/images/logo_web85x53.png") no-repeat;
  height: 53px;
  width: 85px;
  text-indent: -99999px;
  margin-top: 10px;
  margin: auto;
}
#nav:hover nav {
  margin-top: 40px;
  margin-left: 2px;
  display: block;
}
#nav:hover nav ol {
  width: 200px;
}
#nav:hover nav ol li.none {
  display: none;
}
#nav:hover nav ol li.left {
  margin-right: 15px;
}
#nav:hover nav ol li.left a {
  text-align: right;
}
#nav:hover nav ol li.right a {
  text-align: left;
}
#nav:hover nav ol li {
  margin-bottom: 20px;
  width: 90px;
  float: left;
}
#nav:hover nav ol li a {
  width: 90px;
}
#nav:hover nav ol li a.nav-item {
  float: left;
  font-size: 15px;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}
#nav:hover nav ol li a.nav-item:visited {
  font-size: 15px;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}
#nav:hover nav ol li a.nav-item:hover {
  font-size: 15px;
  color: rgba(255,255,255,0.4);
  text-decoration: none;
}
#nav:hover nav ol li.active a.nav-item {
  color: #fff;
}
#main-container {
  padding: 0;
  margin-top: 0;
  background: #fff;
  margin-bottom: 30px;
  width: 950px;
  margin: auto;
}
#about_header_carousel {
  display: block;
}
#about_header_carousel div.carousel-inner {
  height: 410px;
}
#about_header_carousel div.carousel-inner p.header_title {
  padding-top: 110px;
}
#about_header_carousel ol {
  right: 0;
  position: relative;
  margin: 0;
  padding: 0;
  height: 60px;
}
#about_header_carousel ol li.active {
  background-color: #f00;
}
#about_header_carousel ol li {
  background-color: #eee;
}
.text-600 {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
}
.text-400-italic {
  font-style: italic;
  font-weight: 400;
}
.header_title {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 65px;
  line-height: 117%;
}
section {
  padding-top: 100px;
}
#intro p {
  height: 90px;
  margin-bottom: 10px;
  line-height: 171%;
}
#intro .about_desc_left {
  float: left;
  width: 430px;
}
#intro .about_desc_right {
  width: 510px;
  margin-left: 440px;
}
#projects .project_img {
  width: 470px;
  height: 470px;
  margin-bottom: 15px;
  background-color: #eee;
}
#projects #project_dnd {
  float: left;
  width: 470px;
}
#projects #project_lb {
  width: 470px;
  margin-left: 480px;
}
#projects p {
  line-height: 171%;
}
#members .members {
  width: 950px;
}
#members .members div.member .member-photo {
  display: block;
}
#members .members div.member .member-photo-hover {
  display: none;
}
#members .members div.member:hover .member-photo {
  display: none;
}
#members .members div.member:hover .member-photo-hover {
  display: block;
}
#members .members .member {
  float: left;
  display: block;
  width: 230px;
  margin-right: 10px;
  margin-bottom: 40px;
}
#members .members .member img {
  width: 230px;
  height: 230px;
  margin-bottom: 10px;
}
#members .members .member p {
  margin-bottom: 10px;
}
#members .members .member .member-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
#members .members .member .member-title .email {
  font-size: 12px;
  font-weight: 600;
  line-height: 158%;
}
#members .members .no-margin-right {
  margin-right: 0px;
}
#contact {
  margin-bottom: 500px;
}
#contact #map_canvas {
  width: 950px;
  height: 410px;
  display: block;
  margin-bottom: 30px;
}
#contact .contact a {
  color: #333;
  font-size: 14px;
  line-height: 171%;
}
a.email {
  text-decoration: none;
  font-style: normal;
  color: #59f;
}
.address {
  font-size: 15pt;
  color: #333;
  text-decoration: none;
}
.address:hover {
  text-decoration: underline;
}
.address sup {
  vertical-align: super;
  font-size: small;
}
