body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background:url(/images/extra_clean_paper_@2X.png)
	padding:0
	margin:0

::selection
	background: #ff9999; /* Safari */

::-moz-selection
	background: #ff9999; /* Firefox */


h1.logo
	background: url(/images/logo2.png) no-repeat
	height: 100px
	width: 184px
	text-indent:-99999px

#main-container
	background:white
	box-shadow: 0 0 10px #888
	margin-bottom:30px
	border-radius:10px

#main-nav
	background:white
	margin-top:60px
#top
	background:url(/images/header-bg.png) repeat-x
	height:110px
	z-index:10
	position:fixed
	width:100%
.nav-item
	display:block
	float:left
	padding-left:20px
	text-decoration:none
	color:#333
	font-size:12pt
	font-family: Helvetica Arial sans-serif
	font-weight:bold
hgroup
	margin-right:50px
	margin-top:15px
.section-title
	font-size:15pt
	text-align:right
	color:#555
.quote
	color:#777
	font-style:italic
	font-family: Times "Times New Roman" serif
	font-size:15pt
	width:550px
	display:block
	margin:0 auto
	background:url(/images/open-quote.gif) no-repeat
	padding-top:30px
	padding-left:45px
	margin-top:100px

section
	margin-bottom: 30px
.member
	float:center
	display:block
	padding: 40px
	padding-bottom: 25px
.member-desc
	text-align:center
.section-subtitle
	font-size:11pt
	text-align:right
	color:#777
	font-family: Times "Times New Roman" serif
	font-style:italic
hgroup
	padding-top:100px
.contact
	margin-top:30px
	font-size:15pt
	font-family:Times "Times New Roman" serif
	font-style:italic
	color:#777
	text-align:center
	line-height:150%
	a.email	
		text-decoration:none
		font-style:normal
		font-family:Helvetica Arial sans-serif
		font-size:12pt
		font-weight:bold
		color:#59F
.address
	font-size:15pt
	color:#333
	text-decoration:none
	&:hover
		text-decoration:underline
	sup
		vertical-align:super
		font-size:small
.members
	text-align:center

.project
	p.desc
		margin-bottom:5px
	img
		display:block
		float:left
	p.info
		display:block
		float:left
	h6.title
		font-weight:bold
		font-size:12pt
		color:#555
		margin-top:7px
		margin-bottom:10px
